/*//灰黑
.cblue {
    background-color:#B7B7B9;
}*/

.cgreen {
    background-color:#979193 ;
}

.cyellow {
    background-color:#6D6D71;
}

.cred {
    background-color:#171A23 ;
}


.color-0{
    background-color:#F5F5F9;
    color:#818185;
       
}
.color-1{
    background-color:#DED3D7 ;

    color: #857379 ;
}
.color-2{
    background-color:#C9C9CF;
    color:#4E4E50;
}
.color-3{
    background-color:#BEBEC1;
    color:#4E4E50;
}


.cblue {
	background-color: #FFFFFF;
}

/*.cgreen {
	background-color:#BBFF66;
}

.cyellow {
	background-color: steelblue;
}

.cred {
	background-color: #770077 ;
}
.color-0{
    background-color:#D9EDF;
    color:#3A87AD;

}
.color-1{
    background-color: #DEF0D8;
    color: #468847;
}
.color-2{
    background-color:#FDF8E4;
    color:#C09853;
}
.color-3{
    background-color:#F2DEDE;
    color:#B94A48;
}*/