
.cblue {
	background-color: #333366;
}

.cgreen {
	background-color:#663300;
}

.cyellow {
	background-color: #336666;
}

.cred {
	background-color:#990033 ;
}

.color-0{
    background-color:#F2DEDE;
    color:#3A87AD;
}
.color-1{
    background-color: #DEF0D8;
    color: #468847;
}
.color-2{
    background-color:#FFCCCC;
    color:#C09853;
}
.color-3{
    background-color:#996666;
    color:#B94A48;
}


